@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



.btn.btn-primary {
  background-color: #336a86;
  border-color: #336a86;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #111111;
  border-color: #111111;
}
.btn.btn-info {
  background-color: #336a86;
  border-color: #336a86;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #1e3e4f;
  border-color: #1e3e4f;
}
.btn.btn-success {
  background-color: #7ac673;
  border-color: #7ac673;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #4da844;
  border-color: #4da844;
}
.btn.btn-warning {
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn.btn-danger {
  background-color: #f97352;
  border-color: #f97352;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #f63709;
  border-color: #f63709;
}
.text-primary {
  color: #336a86 !important;
}
.text-info {
  color: #336a86 !important;
}
.text-success {
  color: #7ac673 !important;
}
.text-warning {
  color: #faaf40 !important;
}
.text-danger {
  color: #f97352 !important;
}
a {
  color: #336a86;
}
a:hover,
a:focus,
a.focus,
a:active,
a.active {
  color: #1e3e4f;
}
.mbr-primary-color,
.s2-box:hover .s2-box-ico div,
.content8 .nav-tabs > li > a::after,
.extFooter1 ul li:before,
.mbr-gallery-filter li:hover,
.extFooter1 ul li a:hover {
  color: #336a86 !important;
}
.navbar-nav > li > a:hover,
.dropdown1-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu a:hover,
.nav-tabs > li.active > a,
.content8 .nav-tabs > li.active > a {
  color: #336a86 !important;
}
.cta-wrap.bg-dark .cta-btn.btn-default:hover,
.cta-wrap .cta-btn.btn-default:hover,
.mbr-primary-bgColor,
.nav-tabs > li > a::after,
.services-s5 .service-content:hover i {
  background: #336a86 !important;
}
blockquote {
  border-left-color: #336a86;
}
.process-step2 .btn-circle:hover,
.process-step2 .btn-info,
.mbr-slider .carousel-control:hover {
  background: #336a86 !important;
  border-color: #336a86 !important;
}
.services-s5 .service-content:hover i:after,
.cta-wrap.bg-dark .cta-btn:hover,
.cta-wrap.bg-primary .cta-btn:hover,
.nav-link.btn.btn-primary:hover {
  border-color: #336a86;
}
.mbr-gallery-filter li.active {
  color: #336a86;
  border-color: #336a86;
}
.cta-wrap .cta-btn.btn-default:hover,
.cta-wrap.bg-dark .cta-btn.btn-default:hover {
  background: #336a86;
  border-color: #336a86;
}
.mbr-title-font,
.mbr-gallery-filter li {
  font-family: 'Montserrat', sans-serif !important;
}
.mbr-text-font,
p {
  font-family: 'Raleway', sans-serif !important;
}
#dropdown-menu-1a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1a .nav .link,
#dropdown-menu-1a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1a .navbar,
#dropdown-menu-1a .dropdown-menu {
  background: #0a364b;
}
#dropdown-menu-1a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1a .dropdown-menu a:hover,
#dropdown-menu-1a .dropdown-menu a:focus {
  background: #082939;
}
#dropdown-menu-1a .navbar-toggler {
  color: #ffffff;
}
#header7-o P {
  text-align: center;
}
#header7-o H3 {
  text-align: center;
}
#features4-u P {
  text-align: left;
}
#pricing-table1-1q SPAN {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
#pricing-table1-1q UL {
  font-size: 16px;
}
#pricing-table1-1q H3 {
  text-align: center;
}
#msg-box18-10 H3 {
  color: #222222;
}
#header22-7 H4 {
  color: #333333;
}
#header22-7 P {
  color: #333333;
}
#header22-7 i {
  color: #336a86 !important;
}

#dropdown-menu-1b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1b .nav .link,
#dropdown-menu-1b .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1b .navbar,
#dropdown-menu-1b .dropdown-menu {
  background: #0a364b;
}
#dropdown-menu-1b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1b .dropdown-menu a:hover,
#dropdown-menu-1b .dropdown-menu a:focus {
  background: #082939;
}
#dropdown-menu-1b .navbar-toggler {
  color: #ffffff;
}
#msg-box6-1f DIV {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #555555;
}
#msg-box6-1f H1 {
  color: #073e59;
}
#dropdown-menu-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1g .nav .link,
#dropdown-menu-1g .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1g .navbar,
#dropdown-menu-1g .dropdown-menu {
  background: #0a364b;
}
#dropdown-menu-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1g .dropdown-menu a:hover,
#dropdown-menu-1g .dropdown-menu a:focus {
  background: #082939;
}
#dropdown-menu-1g .navbar-toggler {
  color: #ffffff;
}
